.section {
    max-width: 880px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 426px) and (max-width: 900px) {
    .section {
        width: 80%;
    }
}

@media screen and (min-width: 426px) and (max-width: 727px) {
    .section {
        display: flex;
        justify-content: center;
    }
}