{
    "extends": "airbnb-base",
    "rules": {
      "no-underscore-dangle": ["error", { "allow": ["_id"]}],
      // "treatUndefinedAsUnspecified": true
      "no-console": "off",
      "no-unused-vars": "off",
      "max-classes-per-file": "off",
      "consistent-return": "off",
      "no-else-return": "off"
      }
  }