.places {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
}

@media screen and (max-width: 425px) {
    .places {
        max-width: 282px;
        margin: auto;
    }
}


