.input {
    margin-left: 30px;
    display: grid;
    grid-template-columns: 294px 1fr;
    column-gap: 20px;
    row-gap: 10px;
    align-self: center;
}

@media screen and (min-width: 651px) and (max-width: 900px) {
    .input {
        grid-template-columns: 230px 1fr;
        column-gap: 15px;
    }
}

@media screen and (max-width: 650px) {
    .input {
        grid-template-columns: 189px 1fr;
        column-gap: 10px;
    }
}