.profile {
    /* border: 2px blue solid; */
    max-width: 880px;
    margin: 40px auto 50px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 625px) {
    .profile {
        max-width: 282px;
        margin: 42px auto 36px;
        flex-direction: column;
        min-height: 286px;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 626px) and (max-width: 900px) {
    .profile {
        width: 80%;
    }
}

