.popup__close-btn_image {
    position: absolute;
    top: -41px;
    right: -38px;
}

@media screen and (max-width: 425px) {
    .popup__close-btn_image {
        right: 0;
        top: -36px;
    }
}