.popup__input-error {
    display: none;
    font-family: Inter;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    /* margin-bottom: 13px; */
    min-height: 17px;
    /* border: 2px green solid; */
}